﻿<div class="jumbotron">
    <h1>Listing Data Health Web API</h1>
    <p class="lead">Simpartners</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
     
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
</div>
